<div class="factions">
  <div class="uk-container uk-container-center">
  <section class="faction-intro uk-text-center">
    <h2>Factions</h2>
  </section>
  <div class="uk-grid">

    <div class="uk-width-1-3 faction">
      <div class="separator">Work In Progress</div>
      <%= image_tag 'dragon' %>
      <h1>Dragons</h1>
    </div>

    <div class="uk-width-1-3 faction">
      <div class="separator">Work In Progress</div>
      <%= image_tag 'thief' %>
      <h1>Thieves</h1>
    </div>

    <div class="uk-width-1-3 faction">
      <div class="separator">Work In Progress</div>
      <%= image_tag 'knight' %>
      <h1>Knights</h1>
    </div>
    </div>
  </div>
</div>
