<div class="jumbo">
  <div class="separator"data-uk-parallax="{y: '0',rotate: '-5deg',opacity: 1,viewport: '1'}"></div>
  <section class="text-block"data-uk-parallax="{y: '200',opacity: 0,viewport: '1'}">
    <div class="uk-container uk-container-center">
      <h1> Clan Crusaders</h1>
      <h3>In Development</h3>
      <a href="#signup" data-uk-smooth-scroll>
        <button class="uk-button">Early Acesss</button>
      </a>
      <button class="uk-button">More Info</button>
    </div>
  </section>
</div>
