<div id="factions" class="factions" data-uk-scrollspy="{cls:'uk-animation-slide-left', target:'.faction', delay:500}">
  <div class="uk-container uk-container-center">

    <section class="faction-intro uk-text-center">
      <h2>Factions</h2>
    </section>

  <div class="uk-grid">
      <div class="uk-width-medium-1-3 uk-width-small-1-3 faction">
        <img src="<%= image_path 'dragon.jpg' %>">
      </div>
      <div class="uk-width-medium-2-3 uk-width-small-2-3 faction-text">
        <h1>Dragons</h1>
        <p>Dragons in DTK are fat. They are fat and cute like potatoes. It is likely that the original dragons were NOT FAT. However, untold years of sleeping has made our dragons plump and swollen. Because of this, they rely on mechanical augmentation to give them classic capabilities. They have propellers to fly, for instance. They love gold and their favorite food is Knights (when attacking castles) and Thieves (when finding thieves in their lairs).
        Dragons are few in number but have great strength. They can fly, and use a device called Fire Spitters to shoot gouts of flame on their enemy. They are also skilled in close quarters combat and practice a form of martial art called Lazy Claw.
        </p>
        <p>Timbre - Slow, powerful</p>
        <button class="uk-button uk-button-primary uk-button-large">Read More</button>
      </div>

      <div class="uk-width-medium-1-3 uk-width-small-1-3 faction">
        <img src="<%= image_path 'thief.jpg' %>">
      </div>
      <div class="uk-width-medium-2-3 uk-width-small-2-3 faction-text">
        <h1>Thief</h1>
        <p>Dragons in DTK are fat. They are fat and cute like potatoes. It is likely that the original dragons were NOT FAT. However, untold years of sleeping has made our dragons plump and swollen. Because of this, they rely on mechanical augmentation to give them classic capabilities. They have propellers to fly, for instance. They love gold and their favorite food is Knights (when attacking castles) and Thieves (when finding thieves in their lairs).
        Dragons are few in number but have great strength. They can fly, and use a device called Fire Spitters to shoot gouts of flame on their enemy. They are also skilled in close quarters combat and practice a form of martial art called Lazy Claw.
        </p>
        <p>Mood - Happy, Carefree</p>
        <button class="uk-button uk-button-primary uk-button-large">Read More</button>
      </div>

      <div class="uk-width-medium-1-3 uk-width-small-1-3 faction">
          <img src="<%= image_path 'knight.jpg' %>">
      </div>
      <div class="uk-width-medium-2-3 uk-width-small-2-3 faction-text">
        <h1>Knight</h1>
        <p>Dragons in DTK are fat. They are fat and cute like potatoes. It is likely that the original dragons were NOT FAT. However, untold years of sleeping has made our dragons plump and swollen. Because of this, they rely on mechanical augmentation to give them classic capabilities. They have propellers to fly, for instance. They love gold and their favorite food is Knights (when attacking castles) and Thieves (when finding thieves in their lairs).
        Dragons are few in number but have great strength. They can fly, and use a device called Fire Spitters to shoot gouts of flame on their enemy. They are also skilled in close quarters combat and practice a form of martial art called Lazy Claw.
        </p>
        <p>Timbre - Pompous</p>
        </p>
        <button class="uk-button uk-button-primary uk-button-large">Read More</button>
      </div>
    </div>
  </div>
</div>
