<div class="game-overview" id="game-overview">
  <div class="uk-container uk-container-center">
    <h2> Game Overview </h2>
    <p>Clan Crusaders delivers light-hearted RTS gameplay on the go. Stunning artwork and a surreal story keep you entertained as you swipe your way to victory. The gameplay is quick to learn, but difficult to master!</p>
    <figcaption class="slide-left" data-uk-parallax="{y: '-100',x: '100',opacity: 1,viewport: '0.5'}">
      <%= image_tag 'overview-soldier.png' %>
    </figcaption>

    <p>The world of Clan Crusaders takes place on Erf, a radish-infested dimension created by the legendary Sorcerer Jimmy. Three dramatically different cultures, the Dragons, the Thieves, and the Knights, are pit against each other in a contest with the gravest consequences. The winner will be returned to their home in the Kingdom of Nob; the losers will be trapped in Erf with nothing but the radishes.</p>

    <p>This is YOUR chance to take up arms and decide the doom or destiny of the world of Erf. Fight alongside Faction Leaders as a Kommandant to Escape from Erf!  Use military tactics, surprise strategy, and old-fashioned luck to defeat Player or Computer opponents using the hexagonal, real-time, strategy system.</p>

    <ul class=" uk-list-space">
      <h2>Feautures:</h2>
      <li> Play as one of three Unique Factions</li>
       <li>Learn the basics with the Tutorial</li>
       <li>Hone Your Strategy Fighting AI</li>
       <li>Compete for the Glory of Erf Against Competitively Ranked Players</li>
       <li>A sorcerer with mutton chops casts spells using a pocket-lobster</li>
       <li>Cheeky writing</li>
       <li>Stunning art design</li>
       <li>RTS Gameplay</li>
       <li>6 Units per Faction</li>
    </ul>
  </div>
</div>
