<nav class="navbar uk-navbar-attached">
  <div class="uk-container uk-container-center">
      <a class="logo uk-navbar-brand" href="#alex" data-uk-smooth-scroll>Clan Crusader</a>
    <ul class="uk-navbar-nav uk-hidden-small">
      <li>
        <a class="" href="#game-overview"data-uk-smooth-scroll>Game Summary</a>
      </li>
      <li>
        <a href="">Media</a>
      </li>
      <li>
        <a href="#factions"data-uk-smooth-scroll>Factions</a>
      </li>
      <li>
        <a href="">Community</a>
      </li>
      <li>
        <a href="#signup"data-uk-smooth-scroll>Early Access</a>
      </li>
      <li>
        <a href="">About Us</a>
      </li>
    </ul>
  </div>
</nav>
