<nav class="navbar">
  <div class="uk-container uk-container-center">
    <ul class="uk-navbar-nav">
      <li>
        <a class="logo" href="">Clan Crusader</a>
      </li>
      <li>
        <a class="" href="">Game Summary</a>
      </li>
      <li>
        <a href="">Media</a>
      </li>
      <li>
        <a href="">Community</a>
      </li>
      <li>
        <a href="">Early Access</a>
      </li>
      <li>
        <a href="">About Us</a>
      </li>
    </ul>
  </div>
</nav>
