<div class="video-player uk-cover">
  <video class="uk-cover-object" width="100%" height="600px" preload="preload" autobuffer="" autoplay="" loop="" muted="muted" poster="/content/dam/atvi/callofduty/blackops3/home/BO3-Reveal.jpg">
    <source src="http://www.callofduty.com/cdn/videos/BO3-Reveal.mp4" type="video/mp4">
    <source src="http://www.callofduty.com/cdn/videos/BO3-Reveal.webm" type="video/webm">
  </video>
  <div class="video-buttons">
    <button class="uk-button uk-button-primary uk-button-large">DOWNLOAD NOW</button>
  </div>
</div>
