@import mixins/colors

.video-player

  .video-buttons
    position: absolute
    top: 60%
    left: 50%
    transform: translate(-50%, -60%)
    text-align: center

    button
      background-color: $orange
      box-shadow: none
      border: none
      font-weight: bold
      padding: 0 30px
      line-height: 48px

      &:hover
        background-color: darken($orange, 10%)

    h1
      font-family: 'Fredoka One', cursive
      color: black
      font-size: 4rem
      margin-bottom: 5rem
